#mainContainer {
    width: 180em;
    border: 10px solid #fff;
    padding: 2px;
    overflow-x: auto;
    white-space: nowrap;
}

.container-child {
    max-width: 20%;
    min-width: 3%;
    float: left;
    padding: 2px;
    margin-right: 1px;
    border: 2px solid rgb(202, 226, 251);
} 

h2 {
  text-align: center;
}

.highlighted {
    background-color: #8EA9DB;
    color: white;
}

td.copyable {
    cursor: pointer;
}

td.copyable:hover {
    background-color: #6489ce;
    color:  white;
}

td.null {
    color:  transparent;
}

.cursor-grab {
    cursor: grab
}

.hovered-date {
    background-color: orange;
    color: white;
}